body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: #36393f;
    color: #dcddde;
}
.content{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.links-section {
    display: flex;
    position: absolute;
    top: 0;
    right: 300px;
    left: 0;
    padding: 10px 15px;
}
.links-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-right: 10px;
    color: white;
    border-radius: 12px;
}

.messages-section {
    position: absolute;
    top: 60px;
    bottom: 84px;
    right: 300px;
    left: 0;
    overflow: auto;
}

.messages-section img {
    position: absolute;
    left: -60px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    vertical-align: middle;
}

.messages-section div {
    margin: 0 80px;
    position: relative;
}

.messages-section a {
    color: #4798FF;
    text-decoration: none;
}

.messages-section a img {
    display: block;
    position: relative;
    left: 0;
    border-radius: 0;
    width: inherit;
    height: inherit;
    max-height: 500px;
    max-width: 100%;
    margin-right: 0;
    vertical-align: middle;
}

.messages-section h2 {
    font-size: 1rem;
    color: white;
}

.messages-section span {
    font-size: 0.75rem;
    color: #72767d;
    font-weight: 500;
}

.messages-section p {
    overflow-wrap: break-word;
}

.users-section {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    text-align: center;
    background-color: #2f3136;
    color: white;
}

#users div {
    height: 44px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

#discord-users div {
    height: 44px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

.users-section img {
    border-radius: 20px;
    width: 40px;
    margin-right: 20px;
    height: 40px;
}

.send-section {
    position: absolute;
    bottom: 0;
    right: 300px;
    left: 0;
}

#file-upload {
    display: flex;
    width: fit-content;
    padding: 10px 20px;
    background-color: #2f3136;
    border-radius: 10px;
    margin: 0 20px;
}

#upload-progress {
    margin-left: 10px;
    width: 100px;
}

#file-to-upload {
    display: flex;
    cursor: pointer;
    width: fit-content;
    padding: 10px 20px;
    background-color: #2f3136;
    border-radius: 10px;
    margin: 0 20px;
}

#file-to-upload svg {
    width: 10px;
    margin-left: 10px;
}

.send-section form {
    position: relative;
    margin: 20px 25px;
}

.send-section button {
    height: 100%;
    width: 44px;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    outline: 0;
    color: #dcddde;
    box-sizing: border-box;
}

.send-section input {
    background-color: #40444b;
    border: none;
    outline: 0;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    color: #dcddde;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 64px;
    box-sizing: border-box;
}

.login-section {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202225;
    transition-duration: 1s;
}

.login-section form {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    max-width: 414px;
    width: 100%;
}

.avatar-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
    border: solid 1px white;
}

.avatar-button img {
    width: 100%;
    height: 100%;
}

.avatar-button:hover::after {
    content: "Changer l'avatar";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000005b;
}

#login-other {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    max-width: 414px;
    width: 100%;
}

.error {
    color: #ff4d4d;
}

.login-section input {
    margin-bottom: 20px;
    font-size: 16px;
    color: #dcddde;
    width: 100%;
    outline: 0;
    box-sizing: border-box;
    transition: border-color .2s ease-in-out;
    font-weight: 400;
    padding: 10px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 30%);
    border-radius: 3px;
    transition-duration: 0.17s;
}

.login-section input:focus {
    border-color: #00aff4;
}
span.spoiler {
    background-color: #202225;
    cursor: pointer;
    border-radius: 3px;
    transition: all .1s ease;
    padding: 3px 0;
    font-size: 1em;
    color: transparent;
}
span.mention {
    background-color: #5865f24d;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 2px;
    font-size: 1em;
    color: white;
}
span.spoiler.show {
    background-color: hsla(0, 0%, 100%, .1);
    color: white;
}
pre code {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    background: #2f3136;
    border: 1px solid #202225;
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    color: #b9bbbe;
    text-size-adjust: none;
}

code {
    padding: .2em;
    border-radius: 3px;
    background: #2f3136;
    white-space: pre-wrap;
    font-size: 1.1em;
    margin: 0 -1px;
}

.login-section button {
    margin-bottom: 20px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 3px;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 16px;
    cursor: pointer;
    border: none;
    color: white;
    transition-duration: 0.17s;
    background-color: hsl(235, 85.6%, 64.7%);
}

.login-section h5 {
    color: #b9bbbe;
    margin: 0;
    text-align: left;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;
}

#avatar-upload-progress {
    display: block;
    width: 100%;
}

.login-section span {
    color: #4798FF;
    cursor: pointer;
}

.login-section svg {
    width: 25px;
    margin-left: 10px;
}

.login-section button:hover {
    background-color: #4752c4;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #202225;
    min-height: 40px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    margin-bottom: 8px;
    background-color: hsl(210, 9.8%, 20%);
}
#users-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    color: white;
    background: #4f545c;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .links-section {
        right: 0;
    }
    #users-button {
        display: flex;
    }

    .send-section {
        right: 0;
    }

    .messages-section {
        right: 0;
    }

    .login-section {
        flex-direction: column;
    }
    
    .users-section {
        width: 100%;
        transform: translateX(100%);
        transition-duration: 0.5s;
    }
}